.animated-component-box {
    position: relative;
}

.animated-component-box svg {
    width: 450px;
    height: 450px;
    z-index: 10;
    fill: #ff30ff;
}

.landing-image {
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 20;
}

@media (max-width: 1298px) {
    .animated-component-box {
        top: 100px;
    }
}

@media (max-width: 556px) {
    .animated-component-box svg {
       display: none;
    }
    .landing-image{
        position: relative;
        top:0;
        left:0;
    }
}